body {
    background-image: url(../img/tree_bark.png);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 50px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    gap: 40px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    height: 600px;
    width: 600px;
}

/*------------images-------------*/

.monkey {
    height: 150px;
    width: 150px;
}

.icon {
    height: 50px;
    width: 50px;
}