body {
    background-image: url(../img/tree_bark.png);
}

.blog_page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*------------header-------------*/

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 50px;
}

/*------------main section-------------*/

.main_section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    gap: 40px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    height: 600px;
    width: 600px;
}

/*------------icon section-------------*/

.icon_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    height: 600px;
    font-size: 20px;
}

.icon_segment {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    height: 180px;
    width: 300px;
    background-color: white;
    border-radius: 20%;
    padding: 20px;
}

/*------------footer-------------*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 100px;
}

/*------------images-------------*/

.monkey {
    height: 150px;
    width: 150px;
}

.icon {
    height: 50px;
    width: 50px;
}